
#toothless_apofiss {
  display: block;
  margin: 10px auto;
  width: 25%;
  height: auto;
}

header {
  position: relative;
  height: 113px;
  text-align: center;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #f7f7f7;
}

h1 {
  display: inline-block;
  font-size: 3em;
  font-family: 'Snell Roundhand', cursive;
  color: #E35335;
  position: static;
  margin-top: 20px;

  background-color: #ffe1d0;
  padding: 0.3em 1em;
  border-radius: 40px;
}

h2 {
  font-size: 2rem;
  margin: 1em 0 0.5em 0;
}


h3 {
  font-size: 1.5rem;
  margin: 1.5em 0 0.5em 0;
}

p {
  font-size: 1rem;
  margin-bottom: 1em;
  text-align: justify;
}

ul {
  padding-left: 1.5em;
  text-align: left;
  font-size: 1rem;
  margin-bottom: 1em;
}

#dog-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 60rem; 
  margin: 2rem auto; 
  gap: 2%; 
  flex-wrap: wrap; 
}

#dog-box {
  background-color: hsl(33, 100%, 77%);
  border: 0.2rem solid #ffb9d4;
  border-radius: 1rem;
  padding: 1.5em; 
  text-align: center;
  width: 40%; 
  box-sizing: border-box;
}

#dog-box#imageR {
  float: none;
  width: 75%; 
  display: block;
  margin: 0 auto 1em auto;
}

@media (max-width: 48rem) { 
  .dog-container {
    flex-direction: column;
    align-items: center;
  }
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #bc4a75;
  display: flex;           
  justify-content: center;      
  align-items: center;  
}

#main-nav ul li a {
  display: block;
  color: white;
  padding: 1em 2em;
  text-decoration: none;
  transition: background-color 0.3s;
  white-space: nowrap; 
}

#main-nav ul li a:hover {
  background-color: #b60d81;
}

#main-header-homepage{
  background-color: #b4f9ce;
  padding: 7px;
}

#footer {
  background-color: #b4f9ce; 
  padding: 0.5em 0;
  text-align: center;
  font-size: 0.7rem;
  color: #333;
  clear: both; 

}