
#toothless_apofiss {
  display: block;
  margin: 10px auto;
  width: 25%;
  height: auto;
}

header {
  position: relative;
  height: 113px;
  text-align: center;
}

h1 {
  display: inline-block;
  font-size: 3em;
  font-family: 'Snell Roundhand', cursive;
  color: #E35335;
  position: static;
  margin-top: 20px;

  background-color: #ffe1d0;
  padding: 0.3em 1em;
  border-radius: 40px;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #bc4a75;
  display: flex;           
  justify-content: center;      
  align-items: center;  
}

#main-nav ul li a {
  display: block;
  color: white;
  padding: 1em 2em;
  text-decoration: none;
  transition: background-color 0.3s;
  white-space: nowrap; 
}

#main-nav ul li a:hover {
  background-color: #b60d81;
}

#main-header-homepage{
  background-color: #b4f9ce;
  padding: 7px;
}
