
#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #bc4a75;
}

#main-nav ul li {
  float: left;
}

#main-nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 200px;
  text-decoration: none;
}

#main-nav ul li a:hover {
  background-color: #b60d81;
}

#main-header{
  background-color: #e6f3a9;
  padding: 5px;
  text-align: center;
}
